.appLayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100dvh;
}

.navbar {
  height: 65px;
  grid-column: 1 / -1;
}

.sidebar {
  background-color: azure;
}

.main {
  background-color: blanchedalmond;
}
